---

---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; 

@import "minimal-mistakes"; 

// DO NOT WRITE ANYTHING ABOVE THESE LINES 

// class used for the icons of same size in the landing page
.uniform-icons .archive__item-teaser img {
  height: 180px; /* Value to modify to change images' dimensions */
  width: 100%;
  object-fit: contain; 
}

